body {
  box-sizing: border-box;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 99vw;
}
nav {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 3%;
  width: 95%;
  height: 100px;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  height: 200px;
  width: 30%;
  padding: 0;
  margin: 0;
}
nav img {
  height: 90%;
  width: 7%;
}
nav ul {
  width: 20%;
}

#shortInfoSection {
  align-items: center;
  display: flex;
  margin: 3%;
  margin-top: 0;
  justify-content: center;

  width: 95%;
  flex-direction: column;
}
#shortInfoSection p {
  text-align: center;
  font-size: 12px;
}

main {
  background-color: #cdd1de;
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-bottom: 15%;
}

.ModelpDiv {
  text-align: center;
  padding: 38%;
  padding-bottom: 12%;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ModelpDiv p {
  margin: 8px;
}

#collectionsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 10%;
  padding-top: 5%;
  font-size: 12px;
}

#bottomsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
  padding: 20%;
  padding-top: 22%;
  padding-bottom: 19%;
  font-size: 12px;
}

#info {
  margin: 50px;
}

#linetop {
  height: 1px;
  font-family: "Lobster", cursive;
  font-size: 30px;
  color: white;
  width: 100%;
  background-color: grey;
  text-align: center;
}

#newslettersection {
  display: flex;
  background-color: black;
  font-size: 12px;
}

#net1 {
  display: flex;
  flex-direction: column;
  margin: 70px;
}

#net2 {
  display: flex;
  flex-direction: column;
  margin: 70px;
}

#net3 {
  display: flex;
  flex-direction: column;
  margin: 70px;
}

#newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px;
  padding-left: 450px;
}

#linebottom {
  height: 1px;
  font-family: "Lobster", cursive;
  font-size: 30px;
  color: white;
  width: 100%;
  background-color: grey;
  text-align: center;
}
